nav {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: right;
}

h1 {
    color: black;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: larger;
    font-weight: bolder;  
    text-align: center;
    text-transform: capitalize;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

a {

}

table {

}

ul {

}

image {

}

video {
    
}