.aside-headline {
    color: white;
    background-color: rgb(88, 145, 88);
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
    

    width: 800px;
    padding: 20px 20px 40px 20px;
    border: 20px solid  rgb(88, 145, 88);
    margin: 10px 10px 50px 10px;
    

}

.myDiv{
    overflow: hidden;
    float: left;
    display: block;
    color: white;
    text-align:right;
    padding: 14px 16px;
    text-decoration: none;
    font-variant: small-caps;
    position:fixed;
    list-style-type: none;
}


body {
    background-color: rgba(255, 255, 255, 0.972);
    font-family: Arial, Helvetica, sans-serif;

  }



h2 {
    text-align: center;
    font-size: x-large;
    font-variant: small-caps;
    color: rgb(88, 145, 88);

}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;

}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
}
th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
   
}

tr:nth-child(even){
    background-color: lightgray;
}

th {
    background-color:  rgb(103, 171, 103);
    color:white;
  }

ul, li {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-size: x-small;
    padding: 10px;
    background-color: rgba(174, 235, 174, 0.945);
}