
/* Abstände zum Banner */
main {

    margin-top: 50px; /* Main Bereich */
    margin-bottom: 50px;
    margin-right: 10px; /* Smartphone zum Rand */
    margin-left: 10px;
}

body {
    background-color: rgba(241, 241, 241, 0.932);
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5em;
}
header { /* Kopfbereich */
    background-color: rgba(241, 241, 241, 0.932);
    height: flex;    
    position: sticky; /* wenn fixed verschwindet es unter dem banner */
    top: 0;
    right: 0;
    left: 0;
    opacity: 0.94;
}

header div { /* Bild und Navigation Platzierung */
    display: flex; /* erstellt einen Flexbox Bereich um Logo und Navigation nebeneinander zu platzieren */
}

header nav { /* Navigation im Kopfbereich */
    flex: 0 1 calc(100% - 100px); /* Berechnter Wert von 100 px des Logos abezogen von 100% Breite */
    padding-top: 60px;
    text-align: center;
    overflow: hidden;
}

nav a {
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125rem;
    display: inline-block;
}

nav a:hover, nav a:focus {
    text-decoration: none;
    color: #6AAF43;
}

header ul {
    list-style-type: none;
    overflow: auto;
}

header li {
    display: inline-block;
    margin-right: 20px;
}

.active {
    color: black;
    font-weight: 700;
}


/* Schrift Einstellungen */
h1{
    color: #037e4b; 
	font-size: 2.2rem;
	margin-bottom: 1rem;
	font-weight: 700;
	padding-top:12px;
	padding-bottom: 12px;
    text-transform: uppercase;
}


h2+p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: justify; 
    }

div h3{
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    font-size: large; 
    color: rgba(88, 145, 88, 0.762);
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 12px;
	padding-bottom: 12px;
    margin-top: 0.4em;
    margin-bottom: 0.7em;
}

p {
    margin-bottom: 1em;
    text-align: justify;
}

/* Footer - Das Ende einer Website */
.footer {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: small;
    padding: 10px;
    background-color: grey;
    font-variant:small-caps;
}

.footer a{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: white;
}

/* UntereNavigation */
.SocialNavigation{
    overflow: hidden;
    width: auto;
    text-align: center;
    background-color: rgba(88, 145, 88, 0.762);
}

.fa.fa-instagram{
    color: black;
    font-size: 40px;
    
}

.fa.fa-twitter{
    color: black;
    font-size: 40px;
}

.fa.fa-snapchat {
    color: black;
    font-size: 40px;
}

.fa:hover{
    background-color: rgba(88, 145, 88, 0.762);
   
}
 
/* Auflösungen Smartphone 600px */
@media  screen and (max-width: 600px) {

    }
/* Auflösung Tablet */
@media (min-width: 801px) and (max-width: 1024px) {
    
}
@media screen and (min-width:1024px) {
    section#content div {
        display: flex;
        justify-content: flex-start;
    }
    
    main {
        flex:0 1 75%;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 0;
        margin-left: 0;
    }
}

