
/* Abstände zum Banner */
main {

    margin-top: 50px; /* Main Bereich */
    margin-bottom: 50px;
    margin-right: 10px; /* Smartphone zum Rand */
    margin-left: 10px;
}

body {
    background-color: rgba(241, 241, 241, 0.932);
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5em;
}
header { /* Kopfbereich */
    background-color: rgba(247, 247, 247, 0.932);
    height: flex;    
    position: sticky; /* wenn fixed verschwindet es unter dem banner */
    top: 0;
    right: 0;
    left: 0;
    opacity: 0.94;
}

header div { /* Bild und Navigation Platzierung */
    display: flex; /* erstellt einen Flexbox Bereich um Logo und Navigation nebeneinander zu platzieren */
}

header nav { /* Navigation im Kopfbereich */
    padding-top: 60px;
    text-align: center;
    overflow: hidden;
}

nav a {
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125rem;
    display: inline-block;
}

nav a:hover, nav a:focus {
    text-decoration: none;
    color: #6AAF43;
}

header ul {
    list-style-type: none;
    overflow: auto;
}

header li {
    display: inline-block;
    margin-right: 20px;
}

.active {
    color: black;
    font-weight: 700;
}

/* Dropdown der Navigation */
li a, .dropbtn { 
    display: inline-block;
    padding: 14px;
    text-decoration: none;
  }

li.dropdown { 
    display: inline-block;
  }
  
.dropdown-content { 
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
    background-color: white;
  }
  
.dropdown-content a { 
    color: grey;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover { 
      background-color: #f1f1f1;
  } 
  
.dropdown:hover .dropdown-content { 
      display: block;
  }

/* Bild im Kopfbereich */
header img { 
    margin-top: 65px;
    margin-bottom: 4px;
}

header div { /* Bild und Navigation Platzierung */
    display: flex; /* erstellt einen Flexbox Bereich um Logo und Navigation nebeneinander zu platzieren */
}

header figure {
    flex: 0 10 300px;
}

/* Schrift Einstellungen */
h1{
    color: #037e4b; 
    text-align: center;
	font-size: 45px;
	margin-bottom: 1rem;
	font-weight: 700;
	padding-top: 12px;
	padding-bottom: 12px;
    text-transform: uppercase;
}
h2{
    color: rgba(0, 121, 74, 0.863); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
}

h2+p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;  
    }

div h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    font-size: large; 
    color: rgba(88, 145, 88, 0.762);
    font-size: 35px;
    font-weight: 500;
    padding-top: 12px;
	padding-bottom: 12px;
    margin-top: 0.4em;
    margin-bottom: 0.7em;
}
div>p{
    color: rgb(5, 5, 5);
    text-align: center;
}

p {
    margin-bottom: 1em;
    text-align: center;
}

.containerSchrift{
    text-align: center;
}

/* Bilder und Videos */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.divpolaroid {
    width: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
  }
  
.divcontainer {
    text-align: center;
    padding: 10px 20px;
  }

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Kontaktformular */
form{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
   
}

.formTitel{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(88, 145, 88); 
    text-align: left;
    font-size: xx-large;
}

.formstyle{
    font-size: large;
    text-align: left;
    border: 0px;
    color: black;
    background-color: #CCCCCC;
    padding-right: 350px;
    padding-left: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 8px;
    margin-top: 0px;
    padding-right: 150px;
    height: 25px;
    width: 350px;
}

.formbutton{
    height: 30px;
    width: 100px;
    border: 0px;
    background-color: rgba(88, 145, 88, 0.762);
    color: white;
    } 

/* Footer - Das Ende einer Website */
.footer {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: small;
    padding: 10px;
    background-color: rgba(88, 145, 88, 0.762);
    font-variant:small-caps;
}

.footer a{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: white;
}

/* UntereNavigation */
.SocialNavigation{
    overflow: hidden;
    width: auto;
    text-align: center;
    background-color: rgba(88, 145, 88, 0.762);
}

.fa.fa-youtube {
   color: black;
   font-size: 40px;   
  }

.fa.fa-instagram{
    color: black;
    font-size: 40px;   
}

.fa.fa-twitter{
    color: black;
    font-size: 40px;
}

.fa.fa-snapchat {
    color: black;
    font-size: 40px;
}

.fa:hover{
    background-color: white;
}

/* Transitionen */
.divTransitionen {
    width: 100px;
    height: 100px;
    background: rgba(1, 141, 76, 0.904);
    transition: width 3s;
  }
  
.divTransitionen:hover {
    width: 300px;
  }

/* Auflösungen Smartphone 600px */
@media  screen and (max-width: 600px) {
h1{
    color: #037e4b; 
    text-align: center;
	font-size: 36px;
	margin-bottom: 1rem;
	font-weight: 700;
	padding-top: 12px;
	padding-bottom: 12px;
    text-transform: uppercase;
}
header { /* Kopfbereich */
    background-color: rgba(247, 247, 247, 0.932);
    height: flex;    
    position: sticky; /* wenn fixed verschwindet es unter dem banner */
    top: 0;
    right: 0;
    left: 0;
    opacity: 0.94;
}
header nav { /* Navigation im Kopfbereich */
    padding-top: 30px;
    overflow: hidden;
    margin-left:150px;
    float: right;
    display: table;
}

nav a {
    color: grey;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
}

header img { 
    margin-top: 65px;
    margin-bottom: 4px;
}

header div { /* Bild und Navigation Platzierung */
    display: flex; /* erstellt einen Flexbox Bereich um Logo und Navigation nebeneinander zu platzieren */
}

header figure {
    flex: 0 10 200px;
}

/* Auflösung Tablet */
@media screen and (min-width: 801px) and (max-width: 1024px) {
    h1{
        color: #037e4b; 
        text-align: center;
        font-size: 38px;
        margin-bottom: 1rem;
        font-weight: 600;
        padding-top: 12px;
        padding-bottom: 12px;
        text-transform: uppercase;
    }
    header { /* Kopfbereich */
        background-color: rgba(247, 247, 247, 0.932);
        height: flex;    
        position: sticky; /* wenn fixed verschwindet es unter dem banner */
        top: 0;
        right: 0;
        left: 0;
        opacity: 0.94;
    }
    header nav { /* Navigation im Kopfbereich */
        padding-top: 30px;
        overflow: hidden;
        
        float: right;     
        display:  block;     
       
    }
    
    nav a {
        color: grey;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        display: inline-block;
    }
    
}

@media screen and (min-width:1024px) {
    main {
        flex:0 1 75%;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 0;
        margin-left: 0;
    }
}