.myDiv{     
    overflow: hidden;     
    background-color: rgba(61, 108, 61, 0.762);;
    position: fixed;  
    margin: 0;
    padding: 0;   
    top: 0;     
    width: 800px;      } 

.myDiv a{  
    color:  rgb(0, 0, 0); 
    font-variant: small-caps;
    text-align: center;  
    text-decoration: none;
       
    float: right;     
    display:  block;     
   
    padding: 20px;      
   
} 

.container2 a:hover{ 
    color:    rgb(103, 171, 103); }

.aside-headline {
    color: white;
    background-color: rgba(61, 108, 61, 0.762);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: center;
}

#index{
    background-color: white;
    font-size: small;
}

#Steckbrief{
    background-color:  white;
    font-size: small;
}

#Kontakt{
    background-color:   white;
    font-size: small;
}

main{
    background-color: rgb(255, 250, 244);

}

body{
    background-image: url("bg.png");
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.container{ 
    text-align: left;
    margin: auto;
    padding: 50px;
    margin-top: 50px;
    height: auto;
    width: 800px;
}

.container2{ 
    text-align: left;
    margin: auto;
    padding: 20px;
    width: 800px;
}
  
h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 60px;
    font-variant: small-caps;
    color: rgb(88, 145, 88);
    background-color: rgb(245, 226, 191);

}

h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: large;
    color: rgb(88, 145, 88); 
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;

}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
   
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.Bildpolaroid {
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(8, 8, 8, 0.19), 0 6px 15px 0 rgba(8, 8, 8, 0.19);
    padding: 10px 15px;
    margin-bottom: 30px;
}

.TextBild {
    text-align: center;
    margin: 30px 30px ; 
    padding: 15px 15px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;  
}

td{
    height: 30px;
}

tr:nth-child(even){
    background-color: lightgray;
}

th {
    background-color:  rgb(103, 171, 103);
    color:white;
    height: 50px;
}

ul, li {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-align: center;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
  

}
/* Kontaktformular */
form{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
   
}

.formTitel{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(88, 145, 88); 
    text-align: left;
    font-size: xx-large;
}

.formstyle{
    font-size: large;
    text-align: left;
    border: 0px;
    color: black;
    background-color: #CCCCCC;
    padding-right: 350px;
    padding-left: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 8px;
    margin-top: 0px;
}

.formbutton{
    height: 30px;
    width: 100px;
    border: 0px;
    background-color: rgba(88, 145, 88, 0.762);
    color: white;
    } 
/* Footer */
.footer {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: small;
    padding: 20px;
    background-color: rgba(88, 145, 88, 0.762);
    font-variant: small-caps;
}
.footer a{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: white;
}

.SocialNavigation{
    overflow: hidden;
    width: auto;
    text-align: center;
    background-color: rgba(88, 145, 88, 0.762);
}

.fa.fa-instagram{
    color: black;
    font-size: 40px;
    
}

.fa.fa-twitter{
    color: black;
    font-size: 40px;
}

.fa.fa-snapchat {
    color: black;
    font-size: 40px;
}

.fa:hover{
    background-color: rgba(88, 145, 88, 0.762);
   
}
/* .boxModell { 
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: rgba(192, 253, 192, 0.762);;
    color: white;


    width:700px;

    padding: 15px 15px 30px 15px;
    border: 10px solid rgb(35, 85, 35) ;
    margin: auto; 
 }  */

